{% extends "examiner_index.html" %}
{% load bootstrap %}
{% block authentication %}

<div class="row">
<div class="container-fluid">
<div class="col-md-2"></div>
<div class="col-md-6">
      <h1>Register</h1>
<div class="panel panel-default">
  <div class="panel-body">
  <form action="" method="post">
	{% csrf_token %}
      {{ form|bootstrap }}
<button type="submit" class="btn btn-success register-btn">Register</button	>
<br>
<br>
<p>Already signed up? Click <a href="/examiner_login/">here</a> to login.</p>
  </form>
  </div>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>

{% endblock %}