{% extends "examiner_index.html" %}
{% load bootstrap %}
{% block authentication %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}




<div class="row">
<div class="container-fluid">
<div class="col-md-3"></div>
<div class="col-md-4">
      <h1>Login</h1>
<div class="panel panel-default">
  <div class="panel-body">
<form method="post" action="/examiner_login/">
	{% csrf_token %}
        {{ form.email_address|bootstrap }}
    {{ form.password|bootstrap }}
<button type="submit" class="btn btn-primary login-btn" style="width:100%">Sign In</button	>
  </form>
  </div>
</div>
</div>
<div class="col-md-4"></div>
</div>
</div>




{% endblock %}